* {
  font-family: Fredericka the Great;
  text-align: center;
  list-style: none;
}

#newNote {
  display: none;
}


#show-contact{
  display: none;
}

.contact {
  cursor: pointer;
  color: #0088cc;
}

.contact:hover{
  text-decoration: underline;
}




/** {
  list-style: none;
  text-align: center;
}

.section, .jumbotron {
  font-family: Fredericka the Great;
}

#listTitle1{
  font-family: Bungee Shade;
  font-size: 3em;
}

#listTitle2{
  font-family: Henny Penny;
  font-size: 3em;
}

#listBody1 {
  font-family: Bungee Shade;
  font-size: 2em;
}

#listBody2 {
  font-family: Henny Penny;
  font-size: 2em;
}

h1:hover,h2:hover,h3:hover{
  text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
  -webkit-animation: shake 2s ease;
  animation: shake 2s ease;
  -webkit-animation-iteration-count: 2;
  animation-iteration-count: 2;
}



#li:hover {
  -webkit-animation: bounceOutDown;
  animation: bounceOutDown;


}
#li:hover {
  -webkit-animation: bounce;
  animation: bounce;
}*/
