* {
  font-family: Fredericka the Great;

}

.jumbotron, h1, h2, h3 {
  text-align: center;
}

#show-contact {
  display: none;
}

.contact {
  cursor: pointer;
  color: #0088cc;
}

.contact:hover {
  text-decoration: underline;
}
